/* Register */
#register-phrase {
  opacity: 0.9;
  font-style: italic;
}

/* Login */
#check-row {
  margin-top: 2%;
  padding: 0px;
}

.media-buttons {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-style: none;
  margin: 0px 5px 0px 5px;
  padding: 13px 0px 13px 0px;
}

#fb-button:hover, #google-button:hover  {
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
}

#fb-button {
  background: #3b5998;
}

#google-button {
  background: red;
}

.fa {
  color: white;
  font-size: 20px;
}

#or {
  margin: 40px 0px 20px 0px;
}

#forgot-password > a {
  color: #f2f4f6;
}