html {
  height: 100%;
  margin: 0px;
}

body {
  background: url("../photos/background.jpg");
  background-position: right center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin: 0px;
}

#wrapper {
  height: 100%;
  position: relative;
}

.row {
  margin: 0px;
}

/*Form*/
#content {
  padding: 10px;
  min-height: 90%;
}

#welcome {
  padding-top: 2%;
  font-size: 50px;
  color: #333;
  font-family: 'Poppins-Bold';
  font-weight: bold;
}

#introduction {
  font-size: 25px;
  font-style: italic;
}

.form submit{
  margin-top: 5%;
}

/*Navbar*/
#header {
  height: 35px;
}

.bg-light {
  border-bottom: solid;
  border-bottom-width: thin;
  color: #6a86a2;
  padding: 2px 4px 0px 4px;
}

#peace-icon {
  width: 30px;
}

.nav-link {
  color: #0a0a0a;
}

.nav-item {
  margin: 0px 5px 0px 5px;
}

#header .form-control {
  border-radius: 20px;
}

.navbar .navbar-toggler {
  color: white;
  font-size: 12px;
  margin-right: 30px;
  width: 30px;
  height: 20px;
  transition: 2s background-color;
  background: black;
  border: 0px;
  padding-left: 10px;
}

.navbar .navbar-toggler:hover {
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  border: 0px;
}

#collapsibleNavbar {
  padding-left: 20px;
}

/*Footer*/
#footer {
  margin-top: 6%;
  width: 100%;
}

#footer-body {
  background: #244759;
  color: white;
  opacity: 0.85;
  padding: 5px;
}

#footer-icon {
  width: 40px;
}

#footer-body .col-3 {
  padding: 0px;
}

#footer .col-9 {
  padding: 0px;
  right: 20px;
  margin: 4px 0px 4px 0px;
}

.footer-media .fa {
  margin: 4px 0px 4px 0px;
  font-size: 25px;
  padding: 0% 1% 0% 1%;
  color: white;
}

/*Buttons */
#content submit:hover, #header .btn:hover {
  border-radius: 30px;
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  border: 0px;
}

#content submit, #header .btn {
  transition: 2s background-color;
  border-radius: 30px;
  background: black;
  border: 0px;
  font-size: 1.1rem;
}

#header .btn {
  color: white;
  font-size: 12px;
  margin-right: 30px;
  width: 70px;
  height: 30px;
  margin-bottom: 2px;
}
