#check-row {
  margin-top: 2%;
  padding: 0px;
}

.col {
  padding-right: 0px;
}

.media-buttons {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-style: none;
  margin-right: 13px;
}

#fb-button:hover, #google-button:hover  {
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
}

#fb-button {
  background: #3b5998;
}

#google-button {
  background: red;
}

.fa {
  color: white;
  font-size: 18px;
}

#or{
  margin: 40px 0px 20px 0px;
}

#txt1 {
  color: #blue;
}
