a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
  margin-right: 0px;
}

a:hover {
  color: #7579ff;
  text-decoration: none
}

#username {
  margin-right: 20px;
}

#user-icon {
  margin-right: 10px;
  width: 25px;
}

/*Content
Profile Card*/
#content .card, .gradient {
  border: none;
  border-radius: 3px;
}

#content-body, #admin-content {
  margin-top: 10%;
}

#personal-photo {
  width: 40%;
  border-radius: 50%;
  margin: 10% 30% 0% 30%;
  border: 3px solid white;
}

.gradient {
  background-image: linear-gradient(hsl(238, 54%, 69%) 60%, white 40%);
}

#personal-card {
  margin-right: 10%;
}

#personal-card .card-body {
  padding: 20px 0px;
}

.user-data p {
  margin-bottom: 0px;
}

.user-data .list-group {
  border-top: 1px solid rgba(0,0,0,.125);
  color: #0000009e;
}

#personal-card .card-title {
  margin-bottom: 15%;
}

.col-sm-3 {
  padding-left: 0px;
  padding-right: 0px;
}

/* Manage card */
.col-sm-9 .card {
  padding: 10px;
  margin-bottom: 5%;
}

#manage .card-subtitle {
  margin: 4px;
  font-size: 80%;
  color: #6c757db0!important;
}

.add-element {
  width: 80px;
  font-size: 80%;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.delete-button {
  width: 80px;
  border: none;
  background: transparent;
}
