
.fas {
  border: transparent;
  background-color: white;
  color: blue;
}

#content .card {
  background-color: white;
}

.list-group-item {
  opacity: 0.8;
  color: #808080;
}

.card-text {
  font-weight: bold;
  font-size: 20px;
}

.card-header {
  font-weight: bold;
  text-align: center;
  font-size: 17px;
}

.card-img-top {
  width: 50%;
  border-radius: 100%;
  margin-top: 9%;
}

.img-feed {
  width: 30px;
  border-radius: 50%;
}

.card-id {
  text-align: center;
  top: 2%;
  border: 0px;
}

.card-suggestions {
  top: 3%;
  text-align: center;
}

.card-top-posts {
  top: 2%;
}

/*News feed*/
.own-post {
  top: 2%;
}

.first-post {
  top: 3%;
}

.second-post {
  top: 4%;
}

/*navbar username and avatar*/
.nav-username {
  text-align: right;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#kissa-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.left-sidebar {
  width: 60%;
}

.view-profile {
  font-size: 85%;
  color: #1E90FF;
}

.gradient {
  background: linear-gradient(blue 40%, white 0%);
}

.top-text-description {
  font-size: 80%;
  color: #808080;
}

.btn-group {
  background-color: white;
  width: 25%;
  left: 5%;
}

.form-control {
  margin-top: 2%;
  margin-bottom: 3%;
  border: 0px;
  border-radius: 18rem;
  width: 98%;
  border: 1px solid;
}

.feed-avatar {
  margin-top: 1%;
}

.post-paragraphs {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 3%;
}


/* Page's Tittle */
#UN-logo {
  border-radius: 100%;
  width: 100px;
  margin-left: 40%;
}

#UN-tittle {
  color: black;
  text-decoration: none;
  font-size: 33px;
  font-weight: bold;
}

#page-header-separator {
  border: 1px;
  border-style: none solid none none;
}

#header-description {
  font-size: 20px;
  font-weight: bold;
  color: #262626;
}


#post-compose {
  border-radius: 1rem;
  resize: none;
}

#form-align {
  text-align: center;
}

.post-aligment {
  position: relative;
  left: 5%;
}

.tittle-line {
  margin-top: 2%;
}

.top-posts {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 5%;
}

.published-date {
  font-size: 10px;
  color:	#787878;
  position: relative;
  left: 36px;
}

.topics {
  color: black;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0;
  padding: 0;
  color: #505050;
}

ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  margin-bottom: 0.5rem;
}

ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 2rem;
  font-family:serif;
  margin-right: 0.3rem;
  line-height: 1;
}
