.fas {
  border: transparent;
  background-color: white;
  color: blue;
}

#content .card {
  background-color: white;
}

.list-group-item {
  opacity: 0.8;
  color: 	#808080;
}

.card-text {
  font-weight: bold;
  font-size: 20px;
}

.card-header {
  font-weight: bold;
  text-align: center;
  font-size: 17px;
}

.card-img-top {
  width: 50%;
  border-radius: 100%;
  margin-top: 9%;
}

.img-feed {
  width: 30px;
  border-radius: 50%;
}

.card-id {
  text-align: center;
  top: 2%;
  border: 0px;
}

.card-suggestions {
  top: 3%;
  text-align: center;
}

.card-top-posts {
  top:2%;
  text-align: center;
}

/*News feed*/
.own-post {
  top: 2%;
}

.first-post {
  top: 3%;
}

.second-post {
  top: 4%;
}
/*navbar username and avatar*/
.nav-username {
  text-align: right;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.kissa-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.left-sidebar {
  width: 60%;
}

.view-profile {
  font-size: 85%;
  color: #1E90FF;
}

.gradient {
  background: linear-gradient(blue 40%, white 0%);
}

.top-text-description {
  font-size: 80%;
  color: #808080;
}

.btn-group {
  background-color: white;
  width: 25%;
  left: 5%;
}

.form-control {
  margin-top: 2%;
  margin-bottom: 3%;
  border: 0px;
  border-radius: 18rem;
  background-color: #C0C0C0;
}

.feed-avatar {
  margin-top: 2%;
}

.post-paragraphs {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 3%;
  
}

.top-posts {
  margin-left: 5%;
  margin-right: 5%;
}
