.fas {
  border: transparent;
  background-color: white;
  color: blue;


}

#content .card {
  background-color: white;
}

.list-group-item {
  opacity: 0.8;
  color: 	#808080;
}

.card-text {
  font-family: Verdana;
  font-weight: bold;
  font-size: 160%;
}

.card-header {
  font-weight: bold;
  font-family: Verdana;
  text-align: left;
  font-size: 110%;
}

.user-data {
  text-align: center;
}

.card-img-top {
  width: 50%;
  border-radius: 50%;
}
.img-feed {
  width: 30px;
  border-radius: 50%;


}

.card-id {
  text-align: center;
  bottom: -2%;
  border: 0px;
}

.card-suggestions {
  bottom: -3%;
  font-family: Verdana;
}
/*News feed*/
.own-post {
  bottom: -2%
}

.first-post {
  bottom:-3%;

}

.second-post {
  bottom:-4%;
}
/*navbar username and avatar*/
.nav-username {
  text-align: right;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.kissa-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.left-sidebar {
  width: 60%;

}

.view-profile {
  font-size: 85%;
  color: #1E90FF;
}

.gradient {
  background: linear-gradient(blue 40%, white 0%);
}

.description {
  font-size: 80%;
  color: #808080;
}

.btn-group {
  background-color: white;
  width: 25%;
  left: 3%;
}

.form-control {
  margin-top: 3%;
  margin-bottom: 2%;
  border: 1px;
}

.image {
  margin-top: 2%;
}

.style-text {
  margin-top:2%;
}
