
#introduction {
  font-size: 25px;
  font-style: italic;
}

#welcome {
  padding-top: 5%;
  font-size: 50px;
  color: #333;
  font-family: 'Poppins-Bold';
  font-weight: bold;
}

body {
  background: url("./background.jpg") no-repeat;
  background-position: center;
  background-size: 140%;
}

.form submit{
  margin-top: 4%;
}
.bg-light {
  border-bottom: solid;
  border-bottom-width: thin;
  color: #6a86a2;
  padding: 2px 4px 0px 4px;
}


#wrapper {
  height: 100px;
}

.row {
  margin: 0px 0px 0px 0px;
}

#peace-icon {
  width: 30px;
}

#navbar-menu {
  padding-left: 20px;
}

/*Footer*/
#footer {
  margin-top: 35%;
  padding: 10px;
  font-size: 12px;
  background: #244759;
  border-radius: 10px;
  color: white;
  opacity: 0.85;
}

#footer-body {
  padding: 5px 0px 15px 15px;
}

#footer-icon {
  width: 40px;
}

#contact {
  font-size: 15px;
  color: white;
  text-decoration: underline;
}

.footer-media .fa{
  font-size: 36px;
  margin: .5rem .5rem 0rem .5rem;
  width: 48px;
  height: 48px;
  background-color: none;
  color: white;
}
