#welcome {
  padding-top: 25%;
  font-size: 50px;
  color: #333;
  font-family: 'Poppins-Bold';
  font-weight: bold;
}

#introduction {
  font-size: 25px;
}

#signup-form submit:hover {
  border-radius: 30px;
  background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
  border: 0px;
}

#signup-form submit {
  transition: 2s background-color;
  border-radius: 30px;
  background: black;
  border: 0px;
}
