body {
  background-image: url(peace.jpg);
  background-repeat: repeat-y;
  background-size: 70%;
  position: fixed;
  top: 10%;
  left: 70%;
}
.box {
  width: 120%;
  border-radius: 2%p;
  padding:24px 24px 16px 24px;
  background: rgba(0,0,0,.9);
  color: #fff;
}
.box h2 {
  color: #00a4a2;
  text-align: center;
  font-size: 30;
}
#exampleInputUser1 , #exampleInputPassword1{
  color: #00a4a2;
  background: #222;
}
.box label {
  color: #00a4a2;
  margin-bottom: 0px;
}
.box button {
  font-size: 16px;
  text-size:16px;
  background: #00a4a2;
}
#password{
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  color: #00a4a2;
}
#sign-up {
  text-align: center;
  font-size: 15px;
}
span {
  cursor: pointer;
  color: #00a5a0;
}
.list {
  padding-left: 0px;
}
.list li{
  list-style-type: none;
  padding: 0 10% 3% 10%;
}
#media {
  text-align: center;
  color: #00a5a0;
}
#fb {
  background-color: #3B5998;
  color: white;
}
#twitter {
  background-color: #55ACEE;
  color: white;
}
#google {
  background-color: #dd4b39;
  color: white;
}
